* {
	margin: 0;
	text-decoration: none;
}

a:visited {
	  color: inherit;
}

#active {
	border-bottom-width: 3px;
	border-bottom-color: white;
	border-bottom-style: solid;
}

header {
	height: 30px;
	background-color: #fff;
	color: #04d1c2;
}

header {
	font-family: 'Roboto Slab', serif;
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
	list-style: none;
	width: 99%;
}

#bg {
	background-image: url("../img/bg-login.jpg");
	height: 100%;
	width: 100%;
	background-color: #04d1c2;
	position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#bg form {
	margin-top: 20%;
}

input {
	background-color: #fff;
	border-color: #2E64FE;
	border-style: solid;
	border: 1px;
	padding: 8px;
	width: 250px;
	color: #04d1c2;
	text-align: center;
	font-size: .8em;
}

#boton:hover {
	background-color: #04d1c2;
	color: #fff;
	border-color: #fff;
	border: 1px;
}

#forma {
	text-align: center;
}

/*  */

#logo {
	float: left;
}

#saludo {
	float: left;
	margin-left: 45px;
	font-size: .8em;
	margin-top: 5px;
}

#sesion {
	float: right;
	margin-right: 40px;
	font-size: .8em;
	margin-top: 5px;
}

/* Menú lateral | Digamos que es el NAV */

#menuLateral {
	width: 130px;
	min-width: 130px;
	background-color: #04d1c2;
	float: left;
	height: 100%;
	position: fixed;
}

#imgMenuLateral {
	width: 95%;
	height: 60px;
	margin-top: 2px;
	background-color: #fff;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#txtLateral {
	color: #fff;
	margin-top: 10px;
	padding-left: 3px;
	font-family: 'Roboto Slab', serif;
	font-size: .9em;
	font-weight: bold;
	width: 120px;
	list-style: none;
	text-align: center;
}

#txtLateral li:hover {
	color: #04d1c2;
	background-color: #fff;
}



/* DASHBOARD o el menú display superior | El que muestra las lanas*/

#title {
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
	float: left;
	margin-left: 165px;
}

#subTitle{
	display: block;
	font-family: 'Roboto Slab', serif;
	font-size: 1.2em;
	margin-left: 165px;
	margin-top: 45px;	
}

#mainContainer {
	margin-left: 145px;
	min-width: 800px;
	float: left;
	clear: both;
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	width: 85%;
	min-width: 280px;
}

#subContainer {
	min-width: 800px;
	width: 250px;
	min-width: 220px;
	height: 80px;
	display: inline-block;
	margin-left: 15px;
	border-color: #edece3;
	border-width: 1px;
	border-style: solid;
	text-align: right;
}

#displayMain {
	padding-top: 10px;
	padding-left: 10px;
	font-size: 2em;
	font-weight: bold;
	float: left;
}

#nombrePermanente {
	font-size: .9em;
	padding-right: 10px;
}

#diaPermanente {
	font-size: .8em;
	padding-right: 14px;
}



/* La segunda parte del dashboard inferior */

#mainContainerLow {
	min-width: 800px;
	margin-left: 145px;
	float: left;
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	width: 85%;
	min-width: 280px;
}

#subContainerLow {
	width: 200px;
	height: 80px;
	display: inline-block;
	margin-left: 15px;
	margin-top: 20px;
	text-align: right;
	vertical-align: top;
}

#imgProducto {
	height: 100px;
	background-color: #04d1c2;
}

#precioProducto {
	font-size: .9em;
	font-weight: bold;
}

#desProducto {
	font-size: .8em;
}

#totProductos {
	font-size: .75em;
	font-style: italic;
}

#totProducto1 {
	font-size: .75em;
	font-style: italic;
}

#totProducto2 {
	font-size: .75em;
	font-style: italic;
}

#totProducto3 {
	font-size: .75em;
	font-style: italic;
}

#totProducto4 {
	font-size: .75em;
	font-style: italic;
}

#suma {
	background-image: url(../img/suma.png);
	width: 50px;
	height: 50px;
	background-size: cover;
	display: block;
}

#suma:hover {
	opacity: .3;
}

#resta {
	background-image: url(../img/resta.png);
	width: 50px;
	height: 50px;
	background-size: cover;
	display: block;
}

#resta:hover {
	opacity: .3;
}

#line {
	height: 1px;
	width: 80%;
	background-color: #04d1c2;
	margin-top: 385px;
	margin-left: 150px;
}



/* La tercera parte del dashboard */

#precioTotal {
	font-size: 1.5em;
	font-weight: bold;
}

#mainPago {
	font-weight: bold;
	font-size: .85em;
	display: block;
}

#subPagar {
	font-size: .8em;
	display: block;
}

#registro {
	font-size: .7em;
	font-style: italic;
}

#registro b {
	color: #04d1c2;
}

#inputPago {
	width: 180px;
	border-style: solid;
	margin-top: 5px;
}

#botonCobrar {
	margin-top: 10px;
	background-color: #04d1c2;
	color: #fff;
	padding: 10px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: .8em;
	border-radius: 10px;
	border-style: solid;
	width: 200px;
}

#botonCobrar:hover {
	background-color: #fff;
	color: #04d1c2;
}

#datosFiscalesForma {
	display: block;
}



/* Estilo de la forma datosFiscales.html */

#botonEnviar {
	background-color: #04d1c2;
	color: #fff;
	padding: 5px;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 1em;
	border-radius: 10px;
	border-style: solid;
	width: 150px;
}

#botonEnviar:hover {
	background-color: #fff;
	color: #04d1c2;
}



/* Acá la sección de las placas */

#line2 {
	height: 1px;
	width: 80%;
	background-color: #04d1c2;
	margin-top: 220px;
	margin-left: 150px;
}

#placaSection {
	min-width: 800px;
	text-align: left;
	margin-left: 165px;
	margin-top: 20px;
	float: left;
	clear: both;
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	font-size: .9em;
	font-weight: bold;
}

#placaSection input {
	border-style: solid;
	border-width: 1px;
	text-align: left;
}

/* Estilo de CORTE.HTML */
#containerCorte {
	width: 200px;
	height: 80px;
	display: inline-block;
	margin-left: 15px;
	margin-top: 20px;
	text-align: right;
	vertical-align: top;
}

/* Estilo TRANSFERENCIA.HTML */

#entradaNrml {
	border-style: solid;
	width: 150px;
}

#boldPlus {
	display: block;
	font-size: 2em;
}

select {
	font-family: 'Roboto Slab', serif;
	font-size: .8em;
}

#containerTransferencia {
	width: 300px;
	display: inline-block;
	margin-left: 15px;
	margin-top: 20px;
	text-align: right;
	vertical-align: top;
}

/* Estilo formaRegistroVehicular.html */

#datosRegistroVehicular {
}

#inputRegistro {
	width: 180px;
	border-style: solid;
	margin-top: 5px;
	display: block;
}

#txtForm {
	font-family: 'Roboto Slab', serif;
	font-size: .8em;	
}

#titleRegistro {
	font-family: 'Roboto Slab', serif;
	font-size: 1.5em;
	width: 300px;
}

#subTitleRegistro {
	font-family: 'Roboto Slab', serif;
	font-size: .9em;	
	width: 100px;
}